body {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

nav {
    background: #555;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 30px;
}

input, textarea {
    width: 60%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
}
